@use "./../../foundation/system" as s;
@use "../../layout/hero-banner-contact";
@use "../../layout/contact";

#contact-container {
  background: var(--clr-neutral-200);
  margin-inline: auto;
  margin-top: 15rem;
  margin-bottom: 10rem;
  text-align: center;
  position: relative;
  width: min(80vw - var(--size-650));

  &::before {
    background: var(--clr-gradient-300);
    content: "";
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    top: -8%;
    left: -5%;
    position: absolute;
    width: 28.1875rem;
    height: 28.375rem;
    z-index: -1;
  }

  h2 {
    margin-top: -10rem;
    margin-bottom: var(--size-600);
    letter-spacing: var(--size-400);
  }

  h3 {
    margin-bottom: var(--size-650);
  }

  p {
    color: var(--clr-neutral-600);
    --fw-semi-bold: var(--fw-bold);
    margin-inline: auto;
    margin-bottom: 3rem;
    text-align: left;
    width: min(34rem, 100% - var(--size-650));
  }

  form {
    margin-inline: auto;
    text-align: left;
    position: relative;
    width: min(60rem, 100% - var(--size-650));
    height: min(107rem, 100% - var(--size-600));

    input,
    textarea {
      background-color: var(--clr-neutral-100);
      color: var(--clr-neutral-900);
      flex-basis: 100%;
      font-size: var(--fs-600);
      letter-spacing: 0.24rem;
      margin-top: var(--size-500);
      margin-bottom: var(--size-400);
      margin-left: 2.5rem;
      padding-block: var(--size-200);
      padding-inline: var(--size-400);
      position: relative;
    }

    #hurigana {
      margin-top: var(--size-200);
    }

    #form-box-message {
      border-bottom: none;
    }

    .form-box {
      display: flex;
      align-items: start;
      border-bottom: solid 0.063rem var(--clr-neutral-500);

      //error message styling
      .wrapper-messages {
        display: flex;
        flex-direction: column;
        width: 100%;

        > div {
          color: red;
          margin-left: var(--size-650);
        }
      }
      textarea {
        resize: none;
      }

      label {
        color: var(--clr-neutral-600);
        cursor: default;
        display: flex;
        flex-direction: column;
        font-size: var(--fs-600);
        font-weight: var(--fw-bold);
        flex-grow: 0;
        flex-shrink: 0;
        letter-spacing: 0.24rem;
        margin-bottom: var(--size-400);
        padding-block: var(--size-500);
        position: relative;
        width: 18rem;

        &::before {
          background: var(--clr-primary-300);
          content: "必須";
          color: var(--clr-neutral-100);
          font-size: 0.875rem;
          position: absolute;
          text-align: center;
          font-weight: var(--fw-regular);
          top: 20%;
          left: 85%;
          width: var(--size-650);
          height: 1.25rem;
        }

        span {
          font-family: var(--ff-tertiary);
          padding-top: var(--size-200);
        }
      }

      #btnSend {
        background: var(--clr-primary-600);
        color: var(--clr-neutral-100);
        font-size: var(--fs-550);
        font-family: var(--ff-tertiary);
        text-align: center;
        height: var(--size-700);
        margin-top: var(--size-600);
        width: 100%;

        i {
          margin-left: var(--size-600);
        }
      }
    }
  }
  #vertical-contact {
    color: var(--clr-neutral-100);
    font-family: var(--ff-secondary);
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    letter-spacing: 0.375rem;
    position: absolute;
    top: 35%;
    right: 0;
    writing-mode: vertical-rl;
    white-space: nowrap;
    z-index: 10;
  }
}

@media (max-width: 1094px) {
  #vertical-contact {
    display: none;
  }
}

@media (max-width: 767px) {
  :root {
    /* FONT SIZE */
    --fs-400: 0.875rem; /* Regular size <p>*/
    --fs-500: 1rem; /* <h5>*/
    --fs-600: 1.125rem; /* <h3>*/
    --fs-900: 2.625rem; /*<h1>&<h2>*/

    --fs-primary-heading: var(--fs-900);
    --fs-body: var(--fs-400);
  }

  html {
    font-size: 100%;
  }

  body {
    font-size: var(--fs-body);
  }

  h1,
  h2 {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.13125rem;
  }

  h3 {
    font-size: var(--fs-600);
    letter-spacing: 0.05625rem;
  }

  h5 {
    font-size: var(--fs-500);
    letter-spacing: 0.1rem;
  }

  a {
    letter-spacing: 0.14rem;
  }

  p,
  address {
    font-size: 0.75rem;
  }

  small {
    font-size: 0.625rem;
    font-weight: var(--fw-bold);
    letter-spacing: 0.125rem;
  }

  section {
    padding: var(--size-400);
  }

  .btn {
    border: 0.125rem solid var(--clr-neutral-100);
    padding: var(--size-400) var(--size-600);
  }

  #contact-container {
    margin-top: var(--size-650);
    margin-bottom: 5rem;
    padding-bottom: var(--size-600);
    width: min(100vw - var(--size-650));

    &::before {
      top: -5%;
      width: 6.8125rem;
      height: 8rem;
    }

    h2 {
      margin-top: -3.5rem;
      margin-bottom: var(--size-400);
      letter-spacing: 0.13125rem;
    }

    h3 {
      margin-bottom: var(--size-400);
    }

    p {
      line-height: 1.2rem;
      letter-spacing: 0.06rem;
      margin-bottom: var(--size-600);
    }

    p,
    form {
      width: calc(100% - var(--size-200));
    }

    form {
      input,
      textarea {
        font-size: 0.875rem;
        margin-left: 0rem;
        padding-inline: var(--size-200);
        margin-block: var(--size-200);
      }
      .form-box {
        flex-direction: column;
        border-bottom: none;
        margin-bottom: 2rem;

        //error message styling
        .wrapper-messages {
          > div {
            margin-left: 0;
            span {
              font-size: 0.8rem;
            }
          }
        }

        label {
          border-bottom: solid 0.125rem var(--clr-neutral-500);
          font-size: 0.875rem;
          letter-spacing: 0.14rem;
          padding-block: 0;
          padding-bottom: var(--size-400);
          width: 100%;

          &::after {
            font-size: 0.8rem;
            padding-inline: 0.3rem;
            width: auto;
            height: 31%;
          }
        }

        #message-label {
          display: flex;
        }

        #btnSend {
          background: var(--clr-primary-600);
          font-size: 0.875rem;
          height: var(--size-650);

          i {
            margin-left: var(--size-600);
          }
        }
      }
    }
  }
}
