<!-- contact section start -->
<section>
  <div class="contact-container">
    <h2>Contact</h2>
    <h3>お問い合わせ</h3>
    <div class="cols-wrapper">
      <div class="col">
        <h5>お電話でのお問い合わせ</h5>
        <br />
        <p>TEL : <span>03-6661-9537</span><br /></p>
      </div>

      <div class="col">
        <h5>フォームでのお問い合わせ</h5>
        <br />

        <a
          href="http://localhost:3000/contact/"
          title="お問い合わせフォーム"
          class="btn"
        >
          <i class="fa-regular fa-envelope"></i>
          お問い合わせフォーム
        </a>
      </div>
    </div>
  </div>
</section>
<!-- contact section end -->
