<footer>
  <div id="footer-container">
    <div id="footer-content">
      <h2>平安海商株式会社</h2>
      <address>
        〒104-0032 <br />
        東京都中央区八丁堀3-3-3 平安海商ビル <br />
        TEL：03-6661-9537 <br />
        FAX：03-6661-9538
      </address>
    </div>

    <nav id="footer-nav">
      <ul id="footer-links">
        <li>
          <a href="http://localhost:3000/" title="トップページ">トップページ</a>
        </li>
        <li>
          <a href="http://localhost:3000/service/" title="事業内容">事業内容</a>
        </li>
        <li>
          <a href="http://localhost:3000/company/" title="会社案内">会社案内</a>
        </li>
        <li>
          <a href="http://localhost:3000/recruit/" title="採用情報">採用情報</a>
        </li>
        <li><a href="#" title="テキスト">テキスト</a></li>
      </ul>
      <a
        href="http://localhost:3000/contact/"
        title="お問い合わせフォーム"
        class="btn"
      >
        <i class="fa-regular fa-envelope"></i>
        お問い合わせフォーム
      </a>
    </nav>
  </div>
  <div id="copyright">
    <p id="copyright-text">Copyright ©平安海商株式会社 All Rights Reserved.︎</p>
  </div>
</footer>
<!-- footer section end -->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="<%= path%>wordpress/wp-content/themes/edu_style/asset/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="./../asset/js/validation.js"></script>
