<!-- header start -->
<header>
  <nav>
    <a href="http://localhost:3000/" title="平安海商株式会社" id="logo">LOGO</a>

    <ul id="nav-links">
      <li>
        <a
          class="active"
          id="top"
          href="http://localhost:3000"
          title="トップページ"
          >トップページ</a
        >
      </li>
      <li>
        <a id="service" href="http://localhost:3000/service/" title="事業内容"
          >事業内容</a
        >
      </li>
      <li>
        <a id="company" href="http://localhost:3000/company/" title="会社案内"
          >会社案内</a
        >
      </li>
      <li>
        <a id="recruit" href="http://localhost:3000/recruit/" title="採用情報"
          >採用情報</a
        >
      </li>
      <li><a id="" href="#" title="テキスト">テキスト</a></li>
      <li><a id="lang" href="#" title="言語変更ボタン">JA/ENG</a></li>
    </ul>

    <div id="paralleragon">
      <a
        id="contact-btn"
        href="http://localhost:3000/contact/"
        title="お問い合わせ"
        ><i class="fa-regular fa-envelope"></i>お問い合わせ</a
      >
    </div>

    <div id="trapezium">
      <a id="menu-btn" href="#" title="メニュー"
        ><i class="fa-solid fa-bars"></i>MENU</a
      >
    </div>
  </nav>
</header>
<!-- header section end -->
