<!-- hero section start -->
<!-- <section>
  <div class="hero-container">
    <div class="hero-content">
      <h1 id="company-name">HEIAN MARINE <br />CORPORATION</h1>
      <div id="division"></div>
      <p id="company-slogan">大海原へ信頼と豊かさを運ぶ</p>
    </div>
    <div id="hero-scroll">
      <i class="fa-regular fa-circle"></i>
    </div>
  </div>
</section> -->
<!-- hero section end -->
